.courses {
    padding: 5vh 2vw;
    position: absolute;
    display: block;
    margin: 0 auto;

    .container {
        margin: 0 auto;

        .courses-main-text {
            font-family: $fontNunito;
            font-size: 0.3em;
            text-align: left;
            position: relative;
            display: block;
        }
        .courses-main-title {
            font-family: $fontRoboto;
            text-align: left;
            position: relative;
            display: block;
        }
        .courses-main-title-decor {
            width: 4vw;
            height: 1vw;
            border-bottom: 2px solid black;
            display: block;
        }

    .row {
        .col-1-3 {
            .main-article {
                position: relative;
                display: inline-block;
                
                .main-article-img {
                    width: 33.333%;
                    height: auto;
                }
                .main-article-bar {
                    .main-article-title {}
                    .main-article-btn {}
                }
            }
        }
    }
}
}